/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  * {
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    color: #fff;
  }
   cite {
  font-family: 'Orbitron', sans-serif;
  z-index: 2;
}
  .cite {
    position: relative;
    font-weight: 900;
    font-size: 1.3em;
    z-index: 1;
    text-shadow: 0px 0px 1.2px rgb(0, 0, 0),
      0px 0px 4px rgb(0, 0, 0), 0px 0px 18px rgba(0, 0, 0, 0.21);
  }
  .cite::before {
    content: open-quote;
    color: rgba(255, 255, 255, 0.795);
    font-size: 5rem;
    line-height: 0;
    position: relative;
    z-index: -1;
    top: 0.4em;
    right: -0.3em;
  }
  .cite::after {
    content: close-quote;
    color: rgba(255, 255, 255, 0.803);
    line-height: 0;
    font-size: 5rem;
    position: relative;
    top: 0.4em;
    left: -0.4em;
    z-index: -1;
  }
h1 {
  font-size: 3em;
  row-gap: 0;
  font-family: 'Orbitron', sans-serif;
}
h2 {
  font-size: 2.5em;
  row-gap: 0;
  font-family: 'Orbitron', sans-serif;
}
h3 {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5em;
  font-weight: 500;
}
h4 {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.3em;
  font-weight: 500;
}
.underline::after {
  display: block;
  position: relative;
  background-color: rgba(253, 253, 253, 0.309);
  content: "";
  height: 10px;
  width: 70%;
  border-radius: 5px;
  left: 0px;
  z-index: 1;
}

/* ------------------------ Arrow Down -------------------------------*/
.arrow-down{
  padding-left: 7em;
  position: relative;
    top: 0px;
    transition: top 0.5s;
}
.arrow-down:hover {
top: 12px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
.minus-margin-top {
  margin-top: -1em;
}
.full-height {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}
.outline {
  outline: 5px solid red;
}
/* ------------------------ Header -------------------------------*/
.header-menu {
  position: sticky;
  top: 0;
  opacity: 0.9;
  height: 4rem;
  width: 100vw;
  background-image: url('./img/connected-world-5.jpg');
  background-size: cover;
  background-position: 0% 7%;
  background-color: rgb(0, 136, 255);
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
}
button {
  background-color: rgba(0, 30, 255, 0.53);
  border-radius: 15px;
  border: 5px solid rgb(37, 0, 0);
  transition: ease 1s;
  padding: 0.5em;
  font-weight: 700;
  font-size: 1.2rem;
  filter: drop-shadow(39px 5px 20px #000);
  cursor: pointer;
}
button:hover {
background: none;
}
header > p > a {
  text-decoration: none;
  font-style: none;
  font-weight: 700;
  font-size: 1.2rem;
  border: 5px solid rgba(33, 0, 0, 0.732);
  padding: 0.3em;
  border-radius: 15px;
}
/* ------------------------ Intro Page -------------------------------*/
.intro-page {
  background: url('./img/blockchain.jpg');
  background-size: cover;
  background-color: rgb(66, 58, 48);
  background-blend-mode: multiply;
  align-items: center;
}

.intro-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  padding-top: 3em;
  padding-bottom: 3em;
  column-gap: 2em;
  color: rgb(255, 255, 255);
}
.intro-text {
width: 50%;
font-family: 'Urbanist', sans-serif;
}
/* ------------------------ Main Page -------------------------------*/
.main-page {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 3, 22, 0.832);
  background-image: url('./img/connected-world.jpg');
  background-size: cover;
  background-blend-mode: darken;
  min-height: 120vh;
  padding-top: 6em;
  padding-bottom: 6em;
}
/* ------------------------ Main Page - Aside -------------------------------*/
.about-me {
  width: 30%;
  margin: 2em;
  background-image: url('./img/connected-world-4.jpg');
  background-size: cover;
  background-color: rgba(7, 7, 16, 0.784);
  background-blend-mode: darken;
  border-radius: 30px;
  color: #fff;
  box-shadow:
  0px 0px 1.8px -4px rgba(0, 0, 0, 0.417),
  0px 0px 3.4px -4px rgba(0, 0, 0, 0.631),
  0px 0px 5.2px -4px rgba(0, 0, 0, 0.752),
  0px 0px 7.9px -4px rgba(0, 0, 0, 0.819),
  0px 0px 13.6px -4px rgba(0, 0, 0, 0.852),
  0px 0px 27.3px -4px rgba(0, 0, 0, 0.872),
  0px 0px 63px -4px rgba(0, 0, 0, 1);
  padding: 1.5em;
  padding-bottom: 3em;
  opacity: 0.9;
  height: fit-content;

}
.scss {
  padding-right: 1rem;
  padding-left: 1rem;
}
 .about-me > ul {
 list-style: none;
 line-height: 3rem;
}
.about-me > ul > li {
  background: url('./img/plus.png') left center no-repeat;
  padding-left: 3rem;
  font-weight: 700;
  font-size: 1.2em;

}
/* ------------------------ Main Page - Experience -------------------------------*/
.experience {
  position: relative;
  width: 70%;
  margin: 1em;
  margin-right: 4em;
}

.contact {
  min-width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  margin: 1em;
  cursor: pointer;
}

.breaker > div + div::before {
  display: block;
  content: '';
  height: 4px;
  width: 100%;
  background-color: blue;
  border-radius: 2px;
  opacity: 0.5;
  position: absolute;
  top: -2rem;
  
}
.experience-text{
  position: relative;
  min-height: 10rem;
  margin-bottom: 3rem;
}
.company-logo {
 position: absolute;
 top: 0.5rem;
 left: 0;
 border-radius: 20%;
}
.experience-text > p, .experience-text > h4 {
  padding-left: 11rem;
}
.length {
  font-style: italic;
  font-weight: bold;
}
/* ------------------------ Contact Page -------------------------------*/
.contact-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./img/guerrillabuzz-crypto-pr-1Auj1kefb2E-unsplash.jpg');
  background-size: cover;
}
.contact-me {
  color: rgb(0, 0, 0);
  font-size: 4em;
  font-weight: 700;
  text-shadow: 0px 0px 15px #fffafa;
}
.glow-hover:hover {
 filter: drop-shadow(3px -2px 8px #fefefe);
 transition: 0.5s ease;
}
.item > a > p {
  position: relative;
  text-align: center;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.736);
  font-size: 1.5em;
}
.contact > div {
  padding-left: 2rem;
}
.item > a {
  text-decoration: none;
}

/* ------------------------ Mobile View -------------------------------*/
@media screen and (max-width: 734px) {
 .full-height {
  height: fit-content;
  padding-bottom: 3rem;
 }
  .me {
  visibility: collapse;
 }
 .intro-info {
  display: block;
  position: relative;
 }
 .intro-text {
  width: 100%;
  position: absolute;
  top: 4rem;
 }
 .arrow-down {
  visibility: collapse;
 }
 .header-menu {
  z-index: 2;
 }
 .main-page {
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .about-me {
  width: 80%;
 }
 .experience {
  margin-right: 0em;
 }
 .company-logo {
  visibility: collapse;
 }
 .experience-text > p, .experience-text > h4 {
  padding-left: 0rem;
 }
 .contact-page {
  background-image: url('./img/blockchain.jpg');
  background-color: rgba(21, 0, 0, 0.577);
  background-blend-mode: darken;
 }
 .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .contact-me {
  font-size: 3rem;
 }
 .item{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .adress {
  position: relative;
  left: 20%;
 }
 .contact > div {
  padding: 0;
 }
}